paho-mqtt==1.6.1
RPi.bme280==0.2.3; platform_system != "Windows"
smbus2~=0.3.0; platform_system != "Windows"
gpiozero==2.0.1; platform_system != "Windows"
ltr559==1.0.0; platform_system != "Windows"
pms5003==1.0.1; platform_system != "Windows"
scd30-i2c==0.0.6; platform_system != "Windows"
numpy==1.24.3
sounddevice==0.4.5
